openapi: 3.1.0
info:
  title: Get Google Map
  description: Retrieves Google Map information including geocoding and places
  version: v1.0.0
servers:
  - url: "https://maps.googleapis.com/maps/api"
paths:
  /geocode/json:
    get:
      summary: Get Geocode Information
      description: Get geocode information for a given address or location.
      operationId: getGeocodeInformation
      parameters:
        - name: address
          in: query
          description: The address to geocode.
          required: true
          schema:
            type: string
        - name: key
          in: query
          description: Your API key.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: A successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeocodeResponse"
        "400":
          description: Bad request
  /place/nearbysearch/json:
    get:
      summary: Get Nearby Places
      description: Retrieves information about places near a specific location.
      operationId: getNearbyPlaces
      parameters:
        - name: location
          in: query
          description: The latitude/longitude around which to retrieve place information.
          required: true
          schema:
            type: string
        - name: radius
          in: query
          description: The distance (in meters) within which to return place results.
          required: true
          schema:
            type: integer
        - name: type
          in: query
          description: The type of place to filter results. E.g., restaurant, school.
          required: false
          schema:
            type: string
        - name: key
          in: query
          description: Your API key.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: A successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlacesResponse"
        "400":
          description: Bad request
  /directions/json:
    get:
      summary: Get Directions
      description: Provides directions between locations.
      operationId: getDirections
      parameters:
        - name: origin
          in: query
          description: The starting point for calculating travel distance and time.
          required: true
          schema:
            type: string
        - name: destination
          in: query
          description: The end point for calculating travel distance and time.
          required: true
          schema:
            type: string
        - name: mode
          in: query
          description: Mode of transportation, e.g., driving, walking.
          required: false
          schema:
            type: string
        - name: key
          in: query

          description: Your API key.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: A successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DirectionsResponse"
        "400":
          description: Bad request

components:
  schemas:
    GeocodeResponse:
      type: object
      properties:
        status:
          type: string
          description: The status of the geocode request.
        results:
          type: array
          items:
            $ref: "#/components/schemas/GeocodeResult"
    GeocodeResult:
      type: object
      properties:
        formatted_address:
          type: string
          description: The formatted address.
        geometry:
          $ref: "#/components/schemas/Geometry"
    PlacesResponse:
      type: object
      properties:
        status:
          type: string
          description: The status of the places request.
        results:
          type: array
          items:
            $ref: "#/components/schemas/PlaceResult"
    PlaceResult:
      type: object
      properties:
        name:
          type: string
          description: The name of the place.
        geometry:
          $ref: "#/components/schemas/Geometry"
        vicinity:
          type: string
          description: The vicinity of the place.
    Geometry:
      type: object
      properties:
        location:
          $ref: "#/components/schemas/Location"
        viewport:
          $ref: "#/components/schemas/Viewport"
    Location:
      type: object
      properties:
        lat:
          type: number
          format: double
        lng:
          type: number
          format: double
    Viewport:
      type: object
      properties:
        northeast:
          $ref: "#/components/schemas/Location"
        southwest:
          $ref: "#/components/schemas/Location"
    DirectionsResponse:
      type: object
      properties:
        geocoded_waypoints:
          type: array
          items:
            $ref: "#/components/schemas/GeocodedWaypoint"
        routes:
          type: array
          items:
            $ref: "#/components/schemas/Route"
        status:
          type: string
    Route:
      type: object
      properties:
        summary:
          type: string
          description: Summary of the route.
        legs:
          type: array
          items:
            $ref: "#/components/schemas/Leg"
    Leg:
      type: object
      properties:
        start_address:
          type: string
          description: The starting address.
        end_address:
          type: string
          description: The ending address.
        steps:
          type: array
          items:
            $ref: "#/components/schemas/Step"
    Step:
      type: object
      properties:
        travel_mode:
          type: string
          description: Travel mode.
        start_location:
          $ref: "#/components/schemas/Location"
        end_location:
          $ref: "#/components/schemas/Location"
        polyline:
          $ref: "#/components/schemas/Polyline"
    Polyline:
      type: object
      properties:
        points:
          type: string
          description: Encoded polyline points.
